In [235]:
import os
os.listdir()

['.ipynb_checkpoints',
 '2014_-_2015_School_Budget_Overview.csv',
 'heart.csv',
 'Logistic.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [236]:
import pandas as pd
import numpy as np
dataset=pd.read_csv('heart.csv')
dataset.head()
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [237]:
selected=dataset.columns

In [238]:
dataset['age'].dtype

dtype('int64')

In [239]:
text=[]
numeric=[]

In [240]:
numeric=dataset.select_dtypes(include ='int64').columns
float1=dataset.select_dtypes(include ='float64').columns
string=dataset.select_dtypes(include='object').columns

In [241]:
for i in numeric:
    x=dataset[i].nunique()
    if x<5 and x>2:
        dataset=pd.get_dummies(dataset,columns=[i])

In [242]:
dataset

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,ca,target,...,restecg_0,restecg_1,restecg_2,slope_0,slope_1,slope_2,thal_0,thal_1,thal_2,thal_3
0,63,1,145,233,1,150,0,2.3,0,1,...,1,0,0,1,0,0,0,1,0,0
1,37,1,130,250,0,187,0,3.5,0,1,...,0,1,0,1,0,0,0,0,1,0
2,41,0,130,204,0,172,0,1.4,0,1,...,1,0,0,0,0,1,0,0,1,0
3,56,1,120,236,0,178,0,0.8,0,1,...,0,1,0,0,0,1,0,0,1,0
4,57,0,120,354,0,163,1,0.6,0,1,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,140,241,0,123,1,0.2,0,0,...,0,1,0,0,1,0,0,0,0,1
299,45,1,110,264,0,132,0,1.2,0,0,...,0,1,0,0,1,0,0,0,0,1
300,68,1,144,193,1,141,0,3.4,2,0,...,0,1,0,0,1,0,0,0,0,1
301,57,1,130,131,0,115,1,1.2,1,0,...,0,1,0,0,1,0,0,0,0,1
302,57,0,130,236,0,174,0,0.0,1,0,...,1,0,0,0,1,0,0,0,1,0

In [243]:
for i in float1:
    x=dataset[i].nunique()
    if x<5 and x>2:
        dataset=pd.get_dummies(dataset,columns=[i])

In [244]:
for i in string:
    x=dataset[i].nunique()
    if x<5 and x>2:
        dataset=pd.get_dummies(dataset,columns=[i])

In [245]:
dataset

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,ca,target,...,restecg_0,restecg_1,restecg_2,slope_0,slope_1,slope_2,thal_0,thal_1,thal_2,thal_3
0,63,1,145,233,1,150,0,2.3,0,1,...,1,0,0,1,0,0,0,1,0,0
1,37,1,130,250,0,187,0,3.5,0,1,...,0,1,0,1,0,0,0,0,1,0
2,41,0,130,204,0,172,0,1.4,0,1,...,1,0,0,0,0,1,0,0,1,0
3,56,1,120,236,0,178,0,0.8,0,1,...,0,1,0,0,0,1,0,0,1,0
4,57,0,120,354,0,163,1,0.6,0,1,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,140,241,0,123,1,0.2,0,0,...,0,1,0,0,1,0,0,0,0,1
299,45,1,110,264,0,132,0,1.2,0,0,...,0,1,0,0,1,0,0,0,0,1
300,68,1,144,193,1,141,0,3.4,2,0,...,0,1,0,0,1,0,0,0,0,1
301,57,1,130,131,0,115,1,1.2,1,0,...,0,1,0,0,1,0,0,0,0,1
302,57,0,130,236,0,174,0,0.0,1,0,...,1,0,0,0,1,0,0,0,1,0

In [258]:
import pandas as pd
import numpy as np
#dataset1=pd.read_csv('heart.csv')
def dummy():
    dataset1=pd.read_csv('heart.csv')    
    numeric=dataset1.select_dtypes(include ='int64').columns
    float1=dataset1.select_dtypes(include ='float64').columns
    string=dataset1.select_dtypes(include='object').columns
    for i in numeric:
        x=x=dataset1[i].nunique()
        if x<5 and x>2:
            dataset1=pd.get_dummies(dataset1,columns=[i])
    for i in float1:
        x=x=dataset1[i].nunique()
        if x<5 and x>2:
            dataset1=pd.get_dummies(dataset1,columns=[i])
    for i in string:
        x=x=dataset[i].nunique()
        if x<5 and x>2:
            dataset1=pd.get_dummies(dataset1,columns=[i])
           
    return(dataset1)

In [260]:
a=dummy()

In [261]:
a

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,ca,target,...,restecg_0,restecg_1,restecg_2,slope_0,slope_1,slope_2,thal_0,thal_1,thal_2,thal_3
0,63,1,145,233,1,150,0,2.3,0,1,...,1,0,0,1,0,0,0,1,0,0
1,37,1,130,250,0,187,0,3.5,0,1,...,0,1,0,1,0,0,0,0,1,0
2,41,0,130,204,0,172,0,1.4,0,1,...,1,0,0,0,0,1,0,0,1,0
3,56,1,120,236,0,178,0,0.8,0,1,...,0,1,0,0,0,1,0,0,1,0
4,57,0,120,354,0,163,1,0.6,0,1,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,140,241,0,123,1,0.2,0,0,...,0,1,0,0,1,0,0,0,0,1
299,45,1,110,264,0,132,0,1.2,0,0,...,0,1,0,0,1,0,0,0,0,1
300,68,1,144,193,1,141,0,3.4,2,0,...,0,1,0,0,1,0,0,0,0,1
301,57,1,130,131,0,115,1,1.2,1,0,...,0,1,0,0,1,0,0,0,0,1
302,57,0,130,236,0,174,0,0.0,1,0,...,1,0,0,0,1,0,0,0,1,0